#loginDiv{
	float: right;
	margin: 10px;
	margin-top: 10px;
	right: 10px;
	position: absolute;
	z-index: 500;
}

#loginDiv button{
	margin: 4px;
	font-family:Helvetica;
	font-size: 18px;
	font-weight: 600;
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: rgb(0, 170, 170);
	border: 0px;
	border-bottom: 1px solid #2d78f4;
	transition: all ease 0.5s;
}

#loginDiv button:hover{
	background-color: rgb(22, 23, 25);
}

.logRegBoxDiv *{
	font-size: 16px;
}

.logRegBoxDiv{
	background-color: rgb(255, 255, 255);
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 260px;
	margin-left:-200px;
	margin-top:-130px;
	z-index: 1000;
	border-radius: 10px;
}

#registerBoxDiv{
	width: 400px;
	height: 330px;
	margin-left:-200px;
	margin-top:-165px;
}


.logRegBoxDivHeader{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
	padding-bottom: 6px;
	border-bottom: 1px solid #CCC;
	
	background-color: rgb(0, 170, 170);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	
	color: white;
	
	text-align: center;
}

.logRegBoxDivHeader label{
	font-size: 26px;
}

.logRegBoxDivForm{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

#loginFilter{
	background-color: black;
	position: fixed;
	top:0;
	left:0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 999;
	filter:alpha(opacity=60);
	opacity:0.5;
}

.logRegBoxDiv button{
	float: right;
	margin-top: 10px;
	color: white;
	background-color: rgb(0, 170, 170);
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid #2d78f4;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	
}


label{
	display: inline-block;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 1px;
}

form input{
	border-radius: 4px;
	border: 1px solid #ccc;
	padding:2px;
	width: 98%;
	height: 30px;
	margin:2px;
}

form li{
	margin: 2px;
	list-style: none;
}

#text_info{
	text-align: left;
	font-size: 18px;
	line-height: 20px;
	padding-left: 40px;
	display: block;
}

#suggestion-index-row{
	margin-top: -40px;
}

#info-row{
	margin-top: -20px;
}

.row.footer{
	margin-top: -15px;
}
